* {
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
}

.phone {
  width: 280px;
  position: relative;
  overflow: hidden;
  height: 580px;
  border: 2px solid blue;
  border-radius: 25px;
  background-color: blue;
}

.phone__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 6px solid black;
  border-bottom: 16px solid black;
  border-radius: 25px;
  background-color: white;
  overflow: hidden;
}

.calculator {
  position: relative;
  height: 100%;
}
