* {
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
}

.phone {
  width: 280px;
  position: relative;
  overflow: hidden;
  height: 580px;
  border: 2px solid blue;
  border-radius: 25px;
  background-color: blue;
}

.phone__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 6px solid black;
  border-bottom: 16px solid black;
  border-radius: 25px;
  background-color: white;
  overflow: hidden;
}

.status-bar {
  height: 18px;
  padding: 6px 10px;
  font-size: 12px;
}

.calculator {
  position: relative;
  height: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  width: 100%;
  word-wrap: break-word;
  height: 43%;
  font-size: x-large;
}

.muted {
  font-size: x-small;
}

.result__history {
  color: lightgray;
  height: 100%;
  direction: rtl;
  overflow: hidden;
}

.result__container {
  text-align: right;
}

.numpad {
  height: 50%;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 0 15px;
}

.numpad__row {
  height: 20%;
  display: flex;
}
