.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  width: 100%;
  word-wrap: break-word;
  height: 43%;
  font-size: 2rem;
  cursor: pointer;
}

.muted {
  font-size: 1rem;
}

.result__history {
  color: lightgray;
  text-align: right;
  overflow: hidden;
  font-size: 1rem;
}

.result__container {
  text-align: right;
}
